@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="~/Content/Styles.css" />

</head>

<h2>Healthcare Homepage</h2>

<p>Hello from our View Template!</p>
<h1>Healtcare activity</h1>
<p>Physical part here</p>
<p>*Add links CRUD pages*</p>