@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = " Healtcare activity";
}

<head>
    <link rel="stylesheet" href="~/Content/Styles.css" />

</head>

<h1>@ViewBag.Title</h1>
<p>Physical part here</p>
<p>*Add links CRUD pages*</p>

