<!--model link to backend model class@model GCUHealthcareViewsTest.Models.Calories-->

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Calories Add";
}
<h2>Add Calories</h2>
<!--input for date and textbox-->

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <label for="calories_burnt">Please enter the calories burnt</label>

            <input type="number" value="Create" class="btn btn-default" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </div>

</div>