@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "CDelete";
}
<h1>Delete Calories</h1>

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <label>Please choose which calorie to delete</label>
        
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <label for="calories-selection">which calories entry you would like to delete?</label>

            <input type="number" value="" class="btn btn-default" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </div>

</div>