@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Calories Viewing-->

<form asp-action="Count" asp-controller="Calories">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Calories consumed:</span>
        </div>
        <input name="calories" type="number" min="0" class="form-control col-sm-3" />
        <div class="input-group-append">
            <input type="submit" class="btn btn-outline-dark" name="Submit" />
        </div>
    </div>
</form>
