@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<!--Calories Index-->
<!--CRUD functions-->
<div class="jumbotron">
    <h1>Welcome to Calories</h1>
    <p class="lead"></p>
    <img src="~/Content/Images/GCULogo.ico" alt="GCU logo" width="200" height="200" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Viewing</h2>
        <p>
            <!--viewing-->
            Some text
        </p>
        <!--take user to count.cshtml-->
        <a class="btn btn-default" @Html.ActionLink("Click Here", "Count", "Calories")></a>

    </div>
    <div class="col-md-4">
        <h2>Add Calories</h2>
        <p></p>
        <a class="btn btn-default" @Html.ActionLink("Click Here", "CAdd", "Calories")></a>
    </div>
    <div class="col-md-4">
        <h2>Delete Calories</h2>
        <p>only shown to admin</p>
        <a class="btn btn-default" @Html.ActionLink("Click Here", "CDelete", "Calories")></a>
    </div>
    <div class="col-md-4">
        <h2>Edit Calories</h2>
        <p>only shown to admin</p>
        <a class="btn btn-default" @Html.ActionLink("Click Here", "CEdit", "Calories")></a>
    </div>
</div>