@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Calories Homepage";
}

<!--Calories Index-->

<div class="jumbotron">
    <h1>Welcome to Calories-Personal Data</h1>
    <p class="lead">Here you can view and manage your Calories Burnt</p>
    <span style='font-size:100px;'>&#x1F525;</span>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Viewing</h2>
        <p>
            <!--viewing-->
            Some text
        </p>
        <!--take user to count.cshtml-->
        
        <span class="btn btn-default">@Html.ActionLink("DON'T CLICK HERE", "Count", "Calories")</span>

    </div>
    <div class="col-md-4">
        <h2>Add Calories</h2>
        <p></p>
        <span class="btn btn-default"> @Html.ActionLink("Click Here", "CAdd", "Calories")</span>
        
    </div>
    <div class="col-md-4">
        <h2>Delete Calories</h2>
        <p>only shown to admin</p>
        <span class="btn btn-default">@Html.ActionLink("Click Here", "CDelete", "Calories")</span>
    </div>
   
</div>