@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<!--Calories Index-->
<!--CRUD functions-->
<div class="jumbotron">
    <h1>Welcome to Calories &#x1F525;</h1>
    <p class="lead">Here you can view and manage your Calories Burnt</p>
    <img src="~/Content/Images/GCULogo.ico" alt="GCU logo" width="200" height="200" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Viewing</h2>
        <p>
            <!--viewing-->
            Some text
        </p>
        <!--take user to count.cshtml-->
        
        <span class="btn btn-default">@Html.ActionLink("DON'T CLICK HERE", "Count", "Calories")</span>

    </div>
    <div class="col-md-4">
        <h2>Add Calories</h2>
        <p></p>
        <span class="btn btn-default"> @Html.ActionLink("Click Here", "CAdd", "Calories")</span>
        
    </div>
    <div class="col-md-4">
        <h2>Delete Calories</h2>
        <p>only shown to admin</p>
        <span class="btn btn-default">@Html.ActionLink("Click Here", "CDelete", "Calories")</span>
    </div>
    <div class="col-md-4">
        <h2>Edit Calories</h2>
        <p>only shown to admin</p>
        <span class="btn btn-default">@Html.ActionLink("Click Here", "CEdit", "Calories")</span>
    </div>
</div>