@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Weight Homepage";
}

<!--Viewing Weight-->

<div class="jumbotron">
    <h1>Welcome to Weight-Personal Data</h1>
    <p class="lead">Here you can view and manage your Weight</p>
    <span style='font-size:100px;'>&#x2696;</span>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Viewing Weight</h2>
        <p>Some text</p>
        <!--take user to count.cshtml-->
        <span class="btn btn-default">@Html.ActionLink("DON'T CLICK HERE", "Count", "Weight")</span>
    </div>
    <div class="col-md-4">
        <h2>Add Weight entry</h2>
        <p></p>
        <span class="btn btn-default"> @Html.ActionLink("Click Here", "WAdd", "Weight")</span>

    </div>
    <div class="col-md-4">
        <h2>Delete Weight entry</h2>
        <p>only shown to admin</p>
        <span class="btn btn-default">@Html.ActionLink("Click Here", "WDelete", "Weight")</span>
    </div>
    
</div>