@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.Title = "Weight";
}
<h2>Add Weight</h2>
<!--input for date and textbox-->

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <label for="Weight">Please enter how may hours your Weight in Kg</label>
            <input type="number" value="Create" class="btn btn-default" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <label for="date">Date of Weight Entry</label>
            <input type="date" value="date" class="btn btn-default" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </div>

</div>