@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<!--landing page of sleep-->
<!--link to sleep related pages-->

<div class="jumbotron">
    <h1>Welcome to Sleep-Personal Data</h1>
    <p class="lead">Here you can view and manage your Sleep</p>
    <span style='font-size:100px;'>&#128564;</span>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Viewing</h2>
        <p>Some text</p>
        <!--take user to count.cshtml-->
        <span class="btn btn-default">@Html.ActionLink("DON'T CLICK HERE", "Count", "Sleep")</span>
    </div>
    <div class="col-md-4">
        <h2>Add Sleep hours</h2>
        <p></p>
        <span class="btn btn-default"> @Html.ActionLink("Click Here", "SAdd", "Sleep")</span>

    </div>
    <div class="col-md-4">
        <h2>Delete Sleep</h2>
        <p>only shown to admin</p>
        <span class="btn btn-default">@Html.ActionLink("Click Here", "SDelete", "Sleep")</span>
    </div>
    
</div>