@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<h1>Delete Calories</h1>

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <label>Please choose what day of sleep you want to delete</label>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <label for="sleep-selection">which sleep entry you would like to delete?</label>
            <input type="number" value="" class="btn btn-default" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </div>

</div>