@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>List the application functions</p>
<p> record  perosnal data eg EKG, blood pressure</p>
<p> view, edit, edit, delete personal data</p>
<p> healthcare activity function</p>