@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GCU Healthcare</h1>
    <p class="lead">Providing the best health tracking app from GCU Healthcare</p>
    <img src="~/Content/Images/GCULogo.ico" alt="GCU logo" width="200" height="200" />
    <!-- <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p> -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start your healthy lifeststyle here. Register and track your progress.
        </p>
        <!-- <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
        <h2>What we offer</h2>
        <p>This service is to help you improve all aspects of your health</p>
        <p>-track your physiological data</p>
        <!-- <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
        <h2>GCU Healthcare </h2>
        <p>Here for you</p>
        
    </div>
</div>