@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Mental Welbeing";
}
<h2>@ViewBag.Title</h2>

<!--static page contans links to help lines and forms that help with mental health-->
