@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Mental Welbeing";
}


<!--static page contans links to help lines and forms that help with mental health-->

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead"></p>
    <img src="~/Content/Images/mental-health.jpg" alt="GCU logo" width="300" height="250" />

</div>
<!--

https://www.snow-camp.org.uk/stopbreathethink/?gclid=Cj0KCQjwsqmEBhDiARIsANV8H3bwUpe4R2IrkDYF6lC1hiLdC142u7bVzMwbibXwK3iBizmQ9ksVPhoaAlupEALw_wcB
Raza sent Yesterday at 23:31
https://turn2me.ie/?gclid=Cj0KCQjwsqmEBhDiARIsANV8H3YvgjD-MCPc2wktGXcTZvDheBZlTZh4qmjlV6mPQDTz8EK5dFWdggYaAvHOEALw_wcB
Raza sent Yesterday at 23:31
https://www.centreformentalhealth.org.uk/helplines-and-crisis-contacts
Raza sent Yesterday at 23:31
those are links for mental healtgh
Raza sent Yesterday at 23:31
https://www.rainbowtrust.org.uk/parentsmatter?gclid=Cj0KCQjwsqmEBhDiARIsANV8H3YhOXXFBwQdmmoQfb2sq3G5A2yIfX7y9WVtH_pGfIU0Fh8Ts_Bm7IsaAiEjEALw_wcB
Raza sent Yesterday at 23:31
https://www.mind.org.uk/
Raza sent Yesterday at 23:31
mental health charaties
Raza sent Yesterday at 23:31
and i sent u the weights folder

-->
<div class="row">
    <div class="col-md-4">
        <h2>Mental health</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="https://www.google.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>mental welbeing</h2>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Another topic</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Another topic</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>