@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Water Intake Homepage";
}
<!--Water intake-->
<!--CRUD-->

<div class="jumbotron">
    <h1>Welcome to Water Intake-Personal Data</h1>
    <p class="lead">Here you can view and manage your Water intake</p>
    <span style='font-size:100px;'>&#128688;</span>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Viewing</h2>
        <p>
            <!--viewing-->
            Some text
        </p>
        <!--take user to count.cshtml-->

        <span class="btn btn-default">@Html.ActionLink("DON'T CLICK HERE", "Count", "WaterIntake")</span>

    </div>
    <div class="col-md-4">
        <h2>Add Water Intake </h2>
        <p></p>
        <span class="btn btn-default"> @Html.ActionLink("Click Here", "WIAdd", "WaterIntake")</span>

    </div>
    <div class="col-md-4">
        <h2>Delete Water Intake</h2>
        <p>only shown to admin</p>
        <span class="btn btn-default">@Html.ActionLink("Click Here", "WIDelete", "WaterIntake")</span>
    </div>
    
</div>